*.db
*.db-wal
*.db-shm
*.scannerwork
*.log
*.cpy
*.vscode
*__pycache__
**/*.JSON
**/*.log
**/*.HTML
**/*.STRING
env
data
data_images
dataset
inference_images
results
test_data
data_old
annotations
*.json
*.csv
*/*.csv
*.ipynb
*.ipynb_checkpoints
*debug*
*test*
*followers